<div id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase navbar-height-out" id="mainNav">
    <div class="container">
      <a class="navbar-brand whosnext-text pointer" (click)="scroll(cover)">Who's Next</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded normal-text pointer" data-toggle="modal" data-target="#logInModal">Log in</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded normal-text pointer" (click)="scroll(signup)">Sign Up</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded normal-text pointer" (click)="scroll(about)">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 roundeds normal-text pointer" (click)="scroll(contact)">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Log In Modal -->
  <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title whosnext-text" id="modalLabel">Who's Next</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (submit)="logInUser($event)">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-12">
                <input type="email" class="form-control" placeholder="Enter Email" id="loginemail">
              </div>
              <div class="form-group col-12">
                <input type="password" class="form-control" placeholder="Password" id="loginpassword">
              </div>
            </div>
            <div *ngIf="showAlter">
              <div class="alert alert-danger" >
                <a class="close" (click)="showAlter = false;">&times;</a>
                The email or the password is incorrect.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closelogInModal>Close</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-spinner fa-spin" *ngIf="showLogInLoader"></i> Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center" #cover>
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="src/assets/img/Landingpage/CaptureCol.PNG" alt="">
      <h1 class="text-uppercase mb-0 whosnext-text" >Who's Next</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0 normal-text">First we eat Then we do everything else</h2>
    </div>
  </header>

  <section class="signup" #signup>
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0 normal-text">Sign Up</h2>
      <hr class="star-dark mb-5">
      <div class="row justify-content-center">
        <form [formGroup]="signUpForm" class="col-lg-6 col-md-12 justify-content-center" (submit)="signUpUser($event)">
          <div class="form-group col-12">
            <div *ngIf="showSignSuccessAlter">
              <div class="alert alert-success" >
                <a class="close" (click)="showSignSuccessAlter = false;">&times;</a>
                Your are successfully registered. You may log in.
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <label for="fullname">Name</label>
            <input formControlName="signupfullname" id="fullname" type="text" class="form-control" placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && getSignUpFormControls.signupfullname.errors }">
            <p *ngIf="submitted && getSignUpFormControls.signupfullname.errors" class="text-danger">Enter a valid name.</p>
          </div>
          <div class="form-group col-12">
            <label for="signupemailId">Email Address</label>
            <input formControlName="signupemail" id="signupemailId" type="email" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && getSignUpFormControls.signupemail.errors }">
            <p *ngIf="submitted && getSignUpFormControls.signupemail.errors" class="text-danger">Enter a valid email address.</p>
            <p *ngIf="signUpDuplicateEmail" class="text-danger">An account exists with this email, try another.</p>
          </div>
          <div class="form-group col-12">
            <label for="signuppasswordId">Password</label>
            <input formControlName="signuppassword" id="signuppasswordId" type="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && getSignUpFormControls.signuppassword.errors }">
            <p *ngIf="submitted && getSignUpFormControls.signuppassword.errors" class="text-danger">Enter a password of minimum length 6.</p>
          </div>
          <div class="form-group col-12">
            <label for="birthdate">Birth Date</label>
            <div class="row">
              <div class="col-3">
                <select #bdate id="birthdate" class="form-control" (change)="onBirthDateChange(bdate.value, bmonth.value, byear.value)" [ngClass]="{ 'is-invalid': submitted && invalidBirthDate}">
                  <option *ngFor="let date of dates" value="{{date}}">{{date}}</option>
                </select>
              </div>
              <div class="col-3">
                  <select #bmonth id="birthmonth" class="form-control" (change)="onBirthDateChange(bdate.value, bmonth.value, byear.value)" [ngClass]="{ 'is-invalid': submitted && invalidBirthDate}">
                    <option *ngFor="let month of months; index as i;" value="{{i+1}}">{{month}}</option>
                  </select>
              </div>
              <div class="col-4">
                  <select #byear id="birthyear" class="form-control" (change)="onBirthDateChange(bdate.value, bmonth.value, byear.value)" [ngClass]="{ 'is-invalid': submitted && invalidBirthDate}">
                    <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                  </select>
              </div>
            </div>
            <p *ngIf="submitted && invalidBirthDate" class="text-danger">Enter a valid birth date.</p>
          </div>
          <div class="form-group col-9">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control">
              <option value="{{gernderType.Female}}">Female</option>
              <option value="{{gernderType.Male}}">Male</option>
              <option value="{{gernderType.PreferNotToSay}}">Prefer not to say</option>
            </select>
          </div>
          <div class="form-group col-12 ">
            <button type="submit" class="btn btn-primary align-content-center"><i class="fa fa-spinner fa-spin" *ngIf="showSignUpLoader"></i> Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" #about>
    <div class="container">
      <h2 class="text-center text-uppercase text-white normal-text">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Who's Next is all about having treat and giving treat. Get your treat and enjoy the time. Get various restaurant suggestions.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Stay connected with your friends. Always be in the party mode. Insult your friends to get treat and be insulted.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section #contact>
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0 normal-text">Contact Us</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <!-- <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-12">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
                <i class="fas fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
                <i class="fas fa-fw fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
                <i class="fas fa-fw fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
                <i class="fas fa-fw fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
                <i class="fas fa-fw fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <strong>Copyright © 2018 <a href="#">Company</a>.</strong> All rights reserved.
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class=" d-block text-center text-white rounded" href="">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div>